* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#numberInput{
  padding: 8px 12px 8px 12px;
}

#textInput{
  padding: 8px 12px 8px 12px;
}

#shapeSelect,
#input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  outline: none;
}

#button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: lightgreen;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(102, 214, 102);
}

#boxContainer {
  width: 100%;
  min-height: 500px;
  background: white;
  padding: 15px;

  border: 2px solid #ccc;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Base shape */
.shape {
  width: 100px;
  height: 100px;
  margin: 10px;;


}

/* Circle class */
.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

#deletebtn{
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6b6b;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#deletebtn.hover{
  background-color: #ff3b3b;
}